USE [master]
GO
/****** Object:  Database [EmployeeInfoDB]    Script Date: 11/05/2015 02:53:37 ******/
CREATE DATABASE [EmployeeInfoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeInfoDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmployeeInfoDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmployeeInfoDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmployeeInfoDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeInfoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeInfoDB]
GO
/****** Object:  Table [dbo].[Employee_Table]    Script Date: 11/05/2015 02:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee_Table](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Employee_Name] [varchar](150) NOT NULL,
	[Address] [varchar](200) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Salary] [float] NOT NULL,
 CONSTRAINT [PK_Employee_Table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Employee_Table] ON 

INSERT [dbo].[Employee_Table] ([ID], [Employee_Name], [Address], [Email], [Salary]) VALUES (1, N' Nasreen ', N'Dhaka', N'Nasree@gmail', 10000000)
INSERT [dbo].[Employee_Table] ([ID], [Employee_Name], [Address], [Email], [Salary]) VALUES (9, N' kakku ', N'dhk', N'adfdsf', 1258)
INSERT [dbo].[Employee_Table] ([ID], [Employee_Name], [Address], [Email], [Salary]) VALUES (10, N' zohir ', N'dss', N'akku@famil', 25865)
SET IDENTITY_INSERT [dbo].[Employee_Table] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Employee_Table]    Script Date: 11/05/2015 02:53:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Employee_Table] ON [dbo].[Employee_Table]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
